<html>
  <head>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>    <script src='/assets/script.js'> </script>
  </head>
  <link href='/assets/stylesheet.css' rel='stylesheet' type='text/css' />
  <button id='toggle_power'> toggle light </button>
  <p id='status'> the button is <%= power %> </p>
  <input id=time type='number'> </input> minutes
  <button id='set_timer'> Set Timer </button>
  <input id='timer_power' type="checkbox" name="power"> Power off after timer completes?<br>
  <div class='timer-display'> 0:00 </div>
  <input type='datetime'> </input>

  <button id="set_color"> set color </button> 
</html
