<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
    <script src='/assets/script.js'> </script>
  </head>
  <link href='/assets/stylesheet.css' rel='stylesheet' type='text/css' />
  <button> toggle light </button>
  <p id='status'> the button is <%= power %> </p>
</html
